:root {
  --main-background-color: #1b2327;
  --primary-background-color: #ebecf0;
  --secondary-background-color: #fefefe;

  --text-color: #111;
  --light-text-color: #fefefe;
  --secondary-text-color: #e8e8e8;
  --selected-color: rgba(0, 0, 0, 0.025);
  --hover-color: rgba(254, 254, 254, 0.8);

  --primary-color: #337ab7;
  --danger-color: #d62f39;
  --warning-color: #fcc44e;
  --success-color: #43a23c;
  --header-color: #22292f;

  --button-color: #f4f5f7;
  --form-border-color: #ddd;
}
